.sidebar-item {
  padding-left: 12px;
  padding-right: calc(5px + 10px);
  display: flex;
  height: 32px;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
}

.sidebar-item:active:hover {
  background-color: rgba(0, 113, 227, 0.16);
}

.sidebar-item:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.sidebar-item.is-selected {
  background: rgba(0, 0, 2, 0.1);
}

a.sidebar-item {
  color: var(--bs-body-color);
}

a.sidebar-item:hover {
  color: var(--bs-body-color);
  text-decoration-line: none;
}
